<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes" />

    <title>Event-driven Cart</title>

    <link rel='stylesheet' href='/styles.css' />
  </head>

  <body>
    <h1>Last Items Removed Prior to Checkout</h1>

    <table class='c-removals-table'>
      <thead>
        <tr class='c-removals-table__row'>
          <th class='c-removals-table__cell c-removals-table__cell--heading u-text-left'>Cart</th>
          <th class='c-removals-table__cell c-removals-table__cell--heading u-text-left'>Product</th>
          <th class='c-removals-table__cell c-removals-table__cell--heading u-text-right'>Time Removed Before Order</th>
        </tr>
      </thead>

      <tbody>
        <% last_cart_removals.each do |last_cart_removal| %>
          <tr class='c-removals-table__row'>
            <td class='c-removals-table__cell c-removals-table__cell--body c-removals-table__cell--heading u-text-left'>
              <%= last_cart_removal.cart_id %>
            </td>
            <td class='c-removals-table__cell c-removals-table__cell--body u-text-left'>
              <%= last_cart_removal.product_title %>
            </td>
            <td class='c-removals-table__cell c-removals-table__cell--body u-text-right'>
              <%= (last_cart_removal.order_placed_at - last_cart_removal.removed_at).to_i %> seconds
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </body>
</html>
